.main {
  background-color: #f7f7f7;
  padding: 12rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  }

  .form{
    margin-bottom: 5rem;
    margin-top: 2rem;
  }

  .login_form {
    margin: 0 auto;
    max-width: 55rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    padding: 5rem 7rem;
    border-radius: 5px;
  }


  .heading_secondary {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#7dd56f),
      to(#28b487)
    );
    background-image: linear-gradient(to right, #7dd56f, #28b487);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
  }

  .heading__container{
    display: block;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .heading__container a{
    text-decoration: none;
    font-style: italic;
    color: var(--primary-color);
    margin-left: 3px;
  }


  .form__group:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  

  .ma_bt_lg {
    margin-bottom: 1.5rem !important;
  }
  .ma_ht_lg {
    margin-bottom: 3.5rem !important;
  }
