:root {
  --section-rotate: 9vw;
  --primary-color:#ff577f;
  --secondary-color:#7cb6ff;
  --pink500: "#FF577F";
  --pink700: "#F96666";
  --purple500: "#937DC2";
  --purple700: "#6F38C5";
  --green500: "rgba(125, 213, 111, 0.85)";
  --green300: "#8FE3CF";
  --dodgerBlue500: "#47B5FF";
  --dodgerBlue700: "#31E1F7";
  --gray500: "#AEBDCA";
  --gray300: "#D8D8D8";
  --gray700: "#777";
  --white500: "#F9F9F9";
  --white600: "#EAF6F6";
  --black500: "#181818";
  --cream500: "#FFECEF";
  --greenGrad: "rgb(69,230,201)";
  --red200: "#ffdad9";
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}